@import "./normalize";
@import "./colors";
// Common styles
* {
  scroll-behavior: smooth;
  transition: all 0.5s;
  font-family: "Lato", sans-serif;
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
.hide {
  display: none;
}

.sidenav-active {
  width: 50% !important;
}
.close-btn {
  img {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
p,
span {
  font-family: "Lato", serif;
  font-weight: 400;
}
.stepaw-button {
  border: none;
  border-radius: 32px;
  background: $color_primary;
  color: white;
  padding: 0.5rem;
}
//
// Header
header {
  position: sticky;
  top: 0;
  // border-bottom: 2px solid $color_primary;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 11;
  a {
    color: black;
  }
  .leftnav {
    margin-left: 1.5rem;
    img {
      width: 70%;
    }
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      li{
        padding:.5rem;
        a:hover{
          color: $color_primary;
        }
      }
    }
  }
}
ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 1.5rem;
}
.mobile {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 0;
  margin: 0;
  .rightnav {
    padding-right: 0.5rem;
  }
}
.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    .rightnav {
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
//

// Body
.ui {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 1000px;
  margin:0 auto;

  .carousel{
    width: 85%;
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    .awssld__controls{
      transform: translateX(-100%);
    }
    .awssld{
      position: relative;
    }
    .awssld__bullets{
      justify-content: end;
      z-index: 12;
      position: absolute;
      bottom: 1rem;
      right: 4rem;
    }
    .mobile-carousel{
      margin: .5rem 0;
      .awssld__container{
        height: 250px;
      }
    }
    .desktop-carousel{
      display: none;
    }
    @media screen and (min-width: 768px) {
      .desktop-carousel{
        display: initial;
      }
      .mobile-carousel{
        display: none;
      }
    }
    .awssld__bullets{
      button{
        background-color: #dfe9f8;
      }
      .awssld__bullets--active{
        background-color: $color_primary;
      }
    }
    .awssld__controls__arrow-left::before, .awssld__controls__arrow-right::before,.awssld__controls__arrow-left::after, .awssld__controls__arrow-right::after{
      background-color: $color_primary;
    }
    .awssld__content{
      background-color: #fff;
      img{
        object-fit: contain;
      }
    }
  }
  .intro {
    display: flex;
    flex: 1 0 50%;
    justify-content: space-around;
    gap: 1rem;
    flex-flow: column nowrap;
    margin-bottom: 135px;
    @media screen and (min-width: 768px) {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      justify-content: space-around;
      .intro-section-2 {
        order: -1;
        margin: 0 !important;
        .text-heading p {
          text-align: left;
        }
        .text-content-1 p,
        .text-content-2 p {
          text-align: left;
          margin: 0;
        }
        .text-content-2 {
          margin-bottom: 2rem;
        }
        .button {
          margin: 0;
        }
      }
    }

    .intro-section-1 {
      display: flex;
      justify-content: center;
      img {
        width: 60%;
        height: auto;
      }
    }
    .intro-section-2 {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 auto;
      justify-content: center;
      h3,
      p {
        @media screen and (min-width: 768px) {
          text-align: center;
        }
        text-align: left;
      }
      button {
        width: 100px;
        margin-left: 0;
        @media screen and (min-width: 768px) {
          margin: 0 auto;
        }
        
      }
    }
  }

  // Features

  .features {
    justify-items: center;
    padding-bottom: 1rem;
    .feature1,
    .feature2,
    .feature3 {
      display: grid;
      justify-items: center;
      span{
        grid-row: 2;
        margin: .5rem;
        padding: .5rem;
        overflow:hidden;
        display: grid;
        place-items: center;
      }
      @media screen and (min-width: 768px) {
        justify-self: center;
      }
      
    }
    .feature-number {
      font-size: 1.2rem;
      width: 20px;
      height: 20px;
      margin: 1rem;
      background-color: $color_primary;
      justify-self: center;
      border-radius: 50%;
      padding: 0.5rem;
      color: white;
    }
    .feature-heading {
      h2 {
        text-align: center;
      }
      p{
        text-align: center;
      }
    }

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .feature-heading {
        grid-row: 1;
        grid-column: 1/-1;
        justify-self: center;
      }
      .feature2,
      .feature3,
      .feature1 {
        display: grid;
        grid-template-columns: 1fr;
        img{
          grid-row: 1;
          justify-self: center;
        }
        h3{
          grid-row: 3;
          align-self: center;
          padding: .5rem;
        }
        span{
          grid-row: 2;
          margin: .5rem;
          padding: .5rem;
          overflow:hidden;
          display: grid;
          place-items: center;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding-left: 4rem;
  }
    
  .stepawvideo{
    margin: 1.5rem 0;
  }
  //
}

//
// Footer Styles
.max-width-cont {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.homepage-contact-form {
  // padding: 6rem 4rem 8rem 4rem;
  // background: #e5f0f8;

  @media screen and (max-width: 700px) {
    padding: 1rem;
  }

  @media screen and (min-width: 700px) {
    // background: url(assets/puppies.svg) no-repeat center center;
    // background-size: cover;
  }

  > * {
    display: grid;
    gap: 2rem;
    // justify-content: center;

    @media screen and (max-width: 700px) {
      gap: 1rem;
    }
  }

  .heading {
    h3 {
      font-family: "Dosis", "Lato", serif;
      font-size: 1.875rem;
      font-weight: 600;
      color: #000000;
      text-align: center;
      margin: 3rem auto 1.875rem auto;

      @media screen and (max-width: 700px) {
        margin: 3rem auto 1.25rem auto;
      }
    }
  }

  .subheading {
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
      color: #000000;
      text-align: center;
    }
  }

  .gplayContainer {
    text-align: center;
    .gplay {
      background: url("../src/assets/gplay.png");
      width: 280px;
      height: 80px;
      background-size: 280px 80px;
      min-height: 70px;
      border: none;
      align-items: center;
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .contactUSContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0 1rem;
    margin-top: 2.5rem;

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
    }

    .contactUsImage {
      @media screen and (max-width: 700px) {
        display: none;
      }
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .form {
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2rem;

    @media screen and (max-width: 700px) {
      max-width: 100%;
      margin: 0;
    }

    form {
      width: 100%;
      margin: auto;

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      .input-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;

        input,
        textarea,
        input:focus,
        textarea:focus {
          padding: 1.5rem;
          border-radius: 10px;
          border: none;
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          color: #000000;
          background-color: #e6eef5;
        }

        input:nth-of-type(1) {
          grid-column: 1 / -1;
        }

        textarea {
          grid-column: 1 / -1;
          resize: vertical;
        }

        input::placeholder,
        textarea::placeholder {
          color: #000;
        }
      }

      button[type="submit"] {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        padding: 0.5rem 1rem;
        background: #004e99;
        color: white;
        border: 4px solid #004e99;
        box-sizing: border-box;
        border-radius: 50px;
        margin-top: 2rem;
        min-width: 180px;
      }
    }
  }

  .copyright {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 3.2rem auto;

    @media screen and (min-width: 700px) {
      margin-top: 5rem;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: white !important;
  border: none;
  border-color: white;
}

.team-page-cont {
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #f5faff;

  @media screen and (max-width: 700px) {
    padding: 1rem;
    padding-bottom: 3rem;
  }

  > * {
    text-align: center;
    display: grid;
    gap: 3rem;
  }

  .heading {
    h3 {
      font-family: "Dosis", "Lato", serif;
      font-size: 1.875rem;
      letter-spacing: 0.1em;
      font-weight: 600;
      color: #000000;
      margin: 0;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  .subheading {
    font-family: "Lato", sans-serif;
    color: #000000;
    text-align: left;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1rem;
  }

  .row1 {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-content: center;

    margin: 0 auto;

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;
    }
  }

  .row2 {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;
    }
  }

  .team-members-cont {
    .member-cont {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      max-width: 330px;

      .image-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        img {
          border-radius: 50%;
          max-width: 150px;
          max-height: 150px;
        }
      }

      .text-details-cont {
        display: grid;
        gap: 0.5rem;

        .name {
          font-family: "Dosis", "Lato", serif;
          color: #000000;
          font-size: 2.187rem;
          margin-bottom: 0.625rem;
        }

        .role {
          font-family: "Lato", sans-serif;
          color: #000000;
          font-size: 1.375rem;
          font-weight: 500;
          margin-bottom: 0.625rem;
        }

        .description {
          font-family: "Lato", sans-serif;
          font-size: 1.125rem;
          font-weight: 300;
          line-height: 1.4;
        }

        .linkedin-link {
          display: flex;
          grid-gap: 0.125rem;
          gap: 0.125rem;
          align-items: flex-end;
          justify-content: center;
        }

        .linkedinUrl {
          font-size: 1.125rem;
          margin-bottom: 0.5rem;
          padding-left: 0.5rem;
          font-weight: 600;
        }
      }
    }
  }
}

// swiper
